.diary {
    .diary_top {
        h2 {
            padding-top: 1.4rem;
            padding-bottom: 2.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            em {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }
        .tab_btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 5.8rem;
            background-color: #f9f9f9;
            .list {
                width: 2.3rem;
                height: 2.3rem;
                background: url("../../../assets/images/icons/icon_list.png")
                    no-repeat center / contain;
            }
            .img {
                width: 1.9rem;
                height: 1.8rem;
                background: url("../../../assets/images/icons/icon_image.png")
                    no-repeat center / contain;
            }
        }
    }

    .tab_contents {
        position: relative;

        .diary_register_btn {
            position: fixed;
            right: 2rem;
            bottom: 7.7rem;
            width: 6rem;
            height: 6rem;
            background: url("../../../assets/images/icons/icon_plus.png")
                no-repeat center / contain;
        }
        .tab_list {
            li ~ li {
                border-top: 1px solid #f7f8f7;
            }
            li {
                display: flex;
                align-items: center;
                padding: 1.8rem 2rem;
                .img_wrap {
                    margin-right: 1.2rem;
                    img {
                        width: 5.8rem;
                        height: 5.8rem;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        object-fit: cover;
                    }
                }

                .txt_wrap {
                    p {
                        padding-top: 0.6rem;
                        padding-bottom: 0.4rem;
                        height: 3.7rem;
                        color: #979797;
                        font-size: 1.3rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    span {
                        color: #979797;
                        font-size: 1rem;
                    }
                }
            }
        }

        .tab_img {
            padding: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 0.6rem;
            img {
                width: 100%;
                border-radius: 0.6rem;
                overflow: hidden;
            }
        }
    }

    .diary_slide {
        border-bottom: 1px solid #f7f8f7;
        img {
            width: 100%;
            display: block;
        }
        .swiper-wrapper {
            padding-bottom: 3.4rem;
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 1.3rem;
        }
        .swiper-pagination-bullet {
            background-color: #c4c4c4;
            width: 0.6rem;
            height: 0.6rem;
        }
        .swiper-pagination-bullet-active {
            background-color: #1fb0ad;
        }
    }

    .diary_txt {
        padding-bottom: 2.8rem;
        strong {
            padding: 1.2rem 0;
            display: block;
            font-size: 1.8rem;
        }
        .mySwiper {
            .swiper-slide {
                width: auto !important;
            }
            span {
                padding: 0.3rem 1rem;
                display: inline-block;
                background-color: #f8f8fa;
                border-radius: 0.6rem;
                color: #979797;
                font-size: 1.2rem;
            }
        }

        pre {
            padding-top: 2.8rem;
            font-family: Pretendard;
            line-height: 1.8rem;
            color: #979797;
        }
        p {
            padding-top: 2.8rem;
            font-size: 1.2rem;
            color: #979797;
        }
    }

    .img_file_wrap {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2.9rem;
            border: 1px solid #eee;
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 0.4rem;
            font-size: 1rem;
            color: #9b9fb1;
            background: url("../../../assets/images/icons/icon_file.png")
                no-repeat top 1.4rem center / 6.2rem;
            cursor: pointer;
        }

        .img_wrap {
            margin-left: 1.4rem;
            position: relative;
            img {
                width: 7.2rem;
                height: 7.2rem;
                border-radius: 0.4rem;
                overflow: hidden;
            }
            button {
                position: absolute;
                right: -1rem;
                top: -1rem;
                width: 2.2rem;
                height: 2.2rem;
                background: url("../../../assets/images/icons/icon_delete.png")
                    no-repeat center / contain;
            }
        }
    }

    .form_wrap {
        display: flex;
        flex-direction: column;
        flex: 1 auto;
        border-top: 1px solid #f7f8f7;
        input[type="text"] {
            padding: 2rem;
            width: 100%;
            height: 5.6rem;
            line-height: 5.6rem;
            border-bottom: none;
            font-size: 2rem;
            &::placeholder {
                font-size: 2rem;
                color: #9b9fb1;
            }
        }

        .select_box {
            display: flex;
            flex-direction: column;
            flex: 1 auto;
            position: relative;
            .select {
                padding: 2rem;
                width: 100%;
                text-align: left;
                background: #f9f9f9
                    url("../../../assets/images/icons/icon_select.png")
                    no-repeat center right 2rem / 1.3rem;
                color: #9b9fb1;
                font-size: 1.5rem;
                &.on {
                    background-image: url("../../../assets/images/icons/icon_select_on.png");
                }
            }
            ul {
                display: none;
                position: absolute;
                top: 5.8rem;
                width: 100%;
                height: 22rem;
                overflow-y: scroll;
                padding: 0 2rem 1.1rem;
                border-top: 1px solid #f7f8f7;
                background-color: #f9f9f9;
                &.on {
                    display: block;
                }
                li {
                    padding: 1.1rem;
                }

                .label {
                    display: inline-block;
                    padding-left: 2.6rem;
                    height: 2.4rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                    cursor: pointer;
                    color: #9b9fb1;
                }
                .ch_check + .label {
                    background: url("../../../assets/images/icons/checkbox_off.png")
                        no-repeat left center / 1.6rem;
                }
                .ch_check:checked + .label {
                    background-image: url("../../../assets/images/icons/checkbox_on.png");
                    color: #1fb0ad;
                }
            }
        }

        textarea {
            padding: 2rem;
            resize: none;
            width: 100%;
            height: calc(100vh - 34.1rem);
            font-size: 1.5rem;
            &::placeholder {
                font-size: 1.5rem;
                color: #9b9fb1;
            }
        }
    }

    .mint_btn {
        width: 100%;
        height: 5rem;
        line-height: 5rem;
        background-color: #1fb0ad;
        color: #fff;
    }
}
